@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  display: none;
}

.rich-text {
  font-size: 15px;
  color: #7a7b7d;
}
.rich-text p {
  margin-bottom: 16px;
}
.rich-text h1 {
  font-size: 36px;
  color: #252525;
  font-weight: 800;
  margin: 32px 0;
}
.rich-text h2 {
  font-size: 22px;
  color: #252525;
  font-weight: 700;
  margin: 24px 0;
}
.rich-text h3 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  margin: 20px 0;
}

.rich-text h4 {
  font-size: 16px;
  color: #444;
  font-weight: 500;
  margin: 16px 0;
}
.rich-text h5 {
  font-size: 14px;
  color: #555;
  font-weight: 400;
  margin: 12px 0;
}
.rich-text h6 {
  font-size: 12px;
  color: #666;
  font-weight: 400;
  margin: 8px 0;
}
.rich-text strong {
  font-weight: 700;
}
.rich-text ol {
  margin-left: 30px;
  list-style-type: decimal;
}
.rich-text ul {
  margin-left: 30px;
  list-style-type: disc;
}
.rich-text li {
  margin-bottom: 8px;
}
